<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
<div id="root"></div>
<div id="root1"><h1>wo men</h1></div>
</body>

<script>
    // 父组件与子组件之间进行通信
    // 子组件中触发通信的时候 $emit 参数或者函数用驼峰的命名
    // 父组件中监听子组件的信号 v-on 参数或者函数用 小写字母用 - 分隔

    // 使用v-model去绑定

    const app = Vue.createApp({
        components: {},

        data() {
            return {
                message: "nihao nihao",
                count: 1,
                text: "long xia",

            }
        },

        methods: {
            handleAddOne() {
                this.count += 1
            },
            handleAddTwo(param1, param2) {
                this.count += (param1 + param2)
            },
            handleAddMore(outParam) {
                this.count = outParam
            },
        },

        template:
                `
                  <div>{{ message }}根组件</div>
                  <test-001 v-bind:countSub="count" v-on:add-one="handleAddOne" v-on:add-two="handleAddTwo"
                            v-on:add-more="handleAddMore"
                  />
                  <div>
                  <input v-model="text"/>
                  </div>
                  <div>{{ message }}根组件</div>
                  <test-002 v-bind:modelValue="count" v-on:add-one="handleAddOne"
                  />
                  <div>{{ message }}根组件</div>
                  <test-002 v-model="count"
                  />
                  <div>{{ message }}根组件</div>
                  <test-003 v-model:modelValue888="count"
                  />

                `
    });


    app.component('test-001', {

        // 此处声明父组件需要监听的事件
        emits: ['addOne', 'addTwo', 'addMore'],

        data() {
            return {
                subMessage: "子组件需要展示的数据",

            }
        },

        props: ['countSub'],

        methods: {
            handleClick() {
                this.$emit('addOne');
            },

            handleClick2() {
                this.$emit('addTwo', 2, 3);
            },

            handleClick3() {
                this.$emit('addMore', this.countSub + 1);
            },

        },


        template:
                `
                  <div>{{ subMessage }}</div>
                  <div>{{ countSub }}
                  <button @click="handleClick">add 1</button>
                  </div>
                  <div>{{ countSub }}
                  <button @click="handleClick2">add 2</button>
                  </div>
                  <div>{{ countSub }}
                  <button @click="handleClick3">add more</button>
                  </div>


                `
    });


    app.component('test-002', {
        // 此处声明父组件需要监听的事件
        emits: ['addOne','update:modelValue'],

        props: ['modelValue', 'modelValue888'],

        methods: {
            handleClick() {
                this.$emit('update:modelValue', this.modelValue + 3);
            },
        },
        template:
                `
                  <div>{{ modelValue }}
                  <button @click="handleClick">add 1</button>
                  </div>
                `


    });

    app.component('test-003', {
        // 此处声明父组件需要监听的事件
        emits: ['addOne','update:modelValue888'],

        props: ['modelValue', 'modelValue888'],

        methods: {
            handleClick() {
                this.$emit('update:modelValue888', this.modelValue888 + 3);
            },
        },
        template:
            `
                  <div>{{ modelValue888 }}
                  <button @click="handleClick">add 1</button>
                  </div>
                `


    });


    // vm 代表的就是 vue 应用的根组件，数据视图链接层
    const vm = app.mount('#root');

</script>

</html>























