<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
<div id="root"></div>
<div id="root1"><h1>wo men</h1></div>
</body>

<script>
    // slot 插槽 在父组件中使用子组件时，将子组件的单标签写成双标签，并在双标签中插入变换的内容
    // 子组件的slot中无法直接绑定事件
    // 父组件里调用的数据属性，使用的都是父组件里的数据
    // 子组件里调用的数据属性，使用的都是子组件里的数据

    // slot 中使用的数据的作用域

    // 具名插槽，父组件 用占位符 <template v-slot:header> content </template>
    // 具名插槽，子组件 用 <slot name="header"></slot>

    // 作用域插槽

    const app = Vue.createApp({
        components: {},

        data() {
            return {
                message: "nihao nihao",
                buttonName: "提交222",

            }
        },

        methods: {
            handleAddOne() {
                this.count += 1
            },

        },

        template:
                `
                  <div>{{ message }}根组件</div>
                  <form-one>
                  <div>{{ buttonName }}</div>
                  </form-one>
                  <form-one>
                  <button>{{ buttonName }}</button>
                  </form-one>
                  <form-one></form-one>

                  <layout-one>
                  <template v-slot:header>
                    <div>header</div>
                  </template>
                  <template #footer>
                    <div>footer</div>
                  </template>
                  </layout-one>

                  <list-one v-slot="slotProps">
                  <span>{{ slotProps.item111 }}</span>
                  </list-one>

                  <!--解构-->
                  <list-one v-slot="{item111}}">
                  <span>{{ item111 }}</span>
                  </list-one>

                `
    });


    app.component('form-one', {

        // 此处声明父组件需要监听的事件


        data() {
            return {
                subMessage: "子组件需要展示的数据",

            }
        },

        methods: {
            handleClick() {
                alert("提交完成")
            }

        },


        template:
                `
                  <div>{{ subMessage }}</div>
                  <div>
                  <input/>
                  <span v-on:click="handleClick">
                    <slot>default value</slot>
                  </span>
                  <!--<slot v-on:click="handleClick"></slot>-->
                  <!--<button v-on:click="handleClick">提交</button>-->
                  </div>
                `
    });


    app.component('layout-one', {
        data() {
            return {
                message: "how are you!"
            }
        },
        template:
                `
                  <div>
                  <slot name="header"></slot>
                  <div>content</div>
                  <slot name="footer"></slot>
                  </div>
                `
    });

    app.component('list-one', {
        data() {
            return {
                message: "how are you!",
                myList: [1, 2, 3, 4, 5, 6]
            }
        },
        template:
                `
                  <div>
                  <slot v-for="item in myList" v-bind:item111="item"></slot>
                  <!--<div v-for="item in myList">{{item}}</div>-->
                  </div>
                `
    });


    // vm 代表的就是 vue 应用的根组件，数据视图链接层
    const vm = app.mount('#root');

</script>

</html>
























